{% extends 'base.html' %}

{% block title %}
    Blogly New Post    
{% endblock %} 

{% block h1 %}
    Add Post for {{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}
    <form action="/users/{{user.id}}/posts/new" method="POST">
        Title <input type="text" name="title">
        <br>
        Content <input type="text" name="content">
        <br>
        <button id="add_post">Add</button>
    </form>
    <form action="/users/{{user.id}}">
        <button>Cancel</button>
    </form>
{% endblock %}