{% extends 'base.html' %}

{% block title %}
    Blogly {{post.title}}
{% endblock %}

{% block h1 %}
    {{post.user.first_name}}'s Post
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">
        {{post.title}}
    </h1>
    <footer><i>By <a href="/users/{{post.user.id}}">{{post.user.first_name}} {{post.user.last_name}}</a></i></footer>

    <hr>

    <p class="mb-5">
        {{post.content}}
    </p>
    {% for tag in tags %}
        <a href="/tags/{{tag.id}}"><h6 class="badge badge-pill badge-primary">{{tag.name}}</h6></a>
    {% endfor %}
</div>
<div class="container">
    <form>
        <button class="btn btn-secondary" formmethod="POST" formaction="/posts/{{post.id}}/delete">Delete</button>
        <button class="btn btn-info" formaction="/posts/{{post.id}}/edit">Edit</button>
    </form>
</div>
{% endblock %}