{% extends 'base.html' %}

{% block title %}
    Blogly Tags
{% endblock %}
    
{% block h1 %}
    Tags
{% endblock %}

{% block content %}
    <div class="contiainer">
        <div class="row">
            {% for tag in tags %}
            <div class="col-6 col-lg-2">
                <a href="/tags/{{tag.id}}"><div class="card mb-3 border shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            {{tag.name}}   
                        </h5>
                    </div>    
                </div></a>
            </div>
            {% endfor %}
        </div>
        <div class="row ml-3">
            <a href="/tags/new"><button class="btn btn-info">Add New Tag</button></a>
        </div>
    </div>
{% endblock %}