{% extends 'base.html' %}

{% block title %}
    {{tag.name}}
{% endblock %}

{% block h1 %}
    {{tag.name}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-6 col-lg-3">
            <div class="card border shadow rounded">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="/posts/{{post.id}}">{{post.title}}</a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<hr>
    <div class="row">
        <form>
            <button class="btn btn-secondary" formmethod="POST" formaction="/tags/{{tag.id}}/delete">Delete</button>
            <button class="btn btn-info" formaction="/tags/{{tag.id}}/edit">Edit</button> 
        </form>   
    </div>
</div>
{% endblock %}