{% extends 'base.html' %}

{% block title %}
    Blogly {{user.first_name}} {{user.last_name}}
{% endblock %}
    
{% block h1 %}
    {{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}
    <img src="{{user.image_url}}" alt="" id="profile_pic" height="125px" width="125px">
    <form action="/users/{{user.id}}/edit">
        <button>Edit</button>
    </form>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button>DELETE</button>
    </form>

    <section class="user_posts">
        <h3>Posts</h3>
        <ul id="posts">
            {% for post in posts %}
                <li>{{post.title}}</li>
            {% endfor %}
        </ul>
        <form action="/users/{{user.id}}/posts/new">
            <button>Add Post</button>
        </form>
    </section>

{% endblock %}

