{% extends 'base.html' %}

{% block h1 %}
    {{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="{{user.image_url}}" alt="" class="img-fluid border" id="profile_pic">
        </div>
        <div class="col-2 col-lg-3">
            <form>
                <button class="btn btn-secondary" formmethod="POST" formaction="/users/{{user.id}}/delete">Delete</button>
                <button class="btn btn-info" formaction="/users/{{user.id}}/edit">Edit User</button>
            </form>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <h3 class="text-center mb-4">{{user.first_name}}'s Posts</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-6 col-lg-3">
            <div class="card border shadow rounded">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="/posts/{{post.id}}">{{post.title}}</a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr>

    <form action="/users/{{user.id}}/posts/new" >
        <button class="btn btn-success">Add Post</button>
    </form>
</div>
{% endblock %}

